services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api-web-scrapping
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - api-network

networks:
  api-network:
    driver: bridge
